USE [master]
GO
/****** Object:  Database [JTechStore]    Script Date: 07/06/2026 03:19:02 PM ******/
CREATE DATABASE [JTechStore]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'JTechStore', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\JTechStore.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'JTechStore_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\JTechStore_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [JTechStore].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [JTechStore]
GO
/****** Object:  Table [dbo].[categories]    Script Date: 07/06/2026 03:19:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categories](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[description] [nvarchar](max) NULL,
	[name] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_details]    Script Date: 07/06/2026 03:19:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_details](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[price] [float] NULL,
	[quantity] [int] NULL,
	[order_id] [bigint] NULL,
	[product_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orders]    Script Date: 07/06/2026 03:19:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[address] [nvarchar](max) NULL,
	[customer_name] [nvarchar](255) NULL,
	[order_date] [datetime2](6) NULL,
	[phone] [nvarchar](255) NULL,
	[status] [nvarchar](255) NULL,
	[total_amount] [float] NULL,
	[payment_method] [nvarchar](255) NULL,
	[payment_status] [nvarchar](255) NULL,
	[user_id] [bigint] NULL,
	[coupon_code] [nvarchar](100) NULL,
	[discount_amount] [float] NULL,
	[subtotal_amount] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products]    Script Date: 07/06/2026 03:19:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[description] [nvarchar](max) NULL,
	[image_url] [nvarchar](255) NULL,
	[name] [nvarchar](255) NULL,
	[price] [float] NOT NULL,
	[quantity] [int] NULL,
	[category_id] [bigint] NULL,
	[discount_percent] [float] NULL,
	[brand] [nvarchar](255) NULL,
	[cpu] [nvarchar](255) NULL,
	[ram] [nvarchar](255) NULL,
	[screen] [nvarchar](255) NULL,
	[storage] [nvarchar](255) NULL,
	[warranty] [nvarchar](255) NULL,
	[promotion_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[promotions]    Script Date: 07/06/2026 03:19:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[promotions](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[active] [bit] NULL,
	[discount_percent] [float] NULL,
	[end_date] [date] NULL,
	[name] [nvarchar](255) NULL,
	[start_date] [date] NULL,
	[coupon_code] [nvarchar](100) NULL,
	[coupon_value] [float] NULL,
	[discount_type] [nvarchar](50) NULL,
	[min_order_amount] [float] NULL,
	[usage_limit] [int] NULL,
	[used_count] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[reviews]    Script Date: 07/06/2026 03:19:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[reviews](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[comment] [nvarchar](max) NULL,
	[customer_name] [nvarchar](255) NULL,
	[rating] [int] NULL,
	[review_date] [datetime2](6) NULL,
	[product_id] [bigint] NULL,
	[user_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 07/06/2026 03:19:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](255) NULL,
	[password] [nvarchar](255) NULL,
	[full_name] [nvarchar](255) NULL,
	[phone] [nvarchar](255) NULL,
	[email] [nvarchar](255) NOT NULL,
	[role] [nvarchar](255) NULL,
	[enabled] [bit] NULL,
	[province_name] [nvarchar](255) NULL,
	[ward_name] [nvarchar](255) NULL,
	[address_detail] [nvarchar](max) NULL,
	[reset_code] [nvarchar](20) NULL,
	[reset_code_expire_at] [datetime2](6) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[categories] ON 

INSERT [dbo].[categories] ([id], [description], [name]) VALUES (1, N'Laptop học tập, văn phòng, gaming và đồ họa', N'Laptop')
INSERT [dbo].[categories] ([id], [description], [name]) VALUES (2, N'Smartphone Android và iPhone chính hãng', N'Điện thoại')
INSERT [dbo].[categories] ([id], [description], [name]) VALUES (3, N'Chuột, bàn phím, tai nghe, sạc và phụ kiện công nghệ', N'Phụ kiện')
SET IDENTITY_INSERT [dbo].[categories] OFF
GO
SET IDENTITY_INSERT [dbo].[order_details] ON 

INSERT [dbo].[order_details] ([id], [price], [quantity], [order_id], [product_id]) VALUES (1, 21591000, 1, 1, 2)
INSERT [dbo].[order_details] ([id], [price], [quantity], [order_id], [product_id]) VALUES (2, 21591000, 1, 2, 2)
INSERT [dbo].[order_details] ([id], [price], [quantity], [order_id], [product_id]) VALUES (3, 21591000, 1, 3, 2)
SET IDENTITY_INSERT [dbo].[order_details] OFF
GO
SET IDENTITY_INSERT [dbo].[orders] ON 

INSERT [dbo].[orders] ([id], [address], [customer_name], [order_date], [phone], [status], [total_amount], [payment_method], [payment_status], [user_id], [coupon_code], [discount_amount], [subtotal_amount]) VALUES (1, N'Đường tổ 6, ấp Long Thành A, xã Bàn Long, huyện Châu Thành', N'Phan Hoài Tân', CAST(N'2026-06-04T12:00:30.7469180' AS DateTime2), N'0359769649', N'Đã xác nhận', 21591000, N'BANK_TRANSFER', N'Đã thanh toán', 2, NULL, NULL, NULL)
INSERT [dbo].[orders] ([id], [address], [customer_name], [order_date], [phone], [status], [total_amount], [payment_method], [payment_status], [user_id], [coupon_code], [discount_amount], [subtotal_amount]) VALUES (2, N'ww', N'Quản trị viên', CAST(N'2026-06-05T11:08:24.7761110' AS DateTime2), N'0000000000', N'Đang xử lý', 21591000, N'COD', N'Thanh toán khi nhận hàng', 1, NULL, NULL, NULL)
INSERT [dbo].[orders] ([id], [address], [customer_name], [order_date], [phone], [status], [total_amount], [payment_method], [payment_status], [user_id], [coupon_code], [discount_amount], [subtotal_amount]) VALUES (3, N'ii', N'Thành', CAST(N'2026-06-05T11:20:16.1730090' AS DateTime2), N'0123456789', N'Chờ thanh toán', 21591000, N'BANK_TRANSFER', N'Chưa thanh toán', 3, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[orders] OFF
GO
SET IDENTITY_INSERT [dbo].[products] ON 

INSERT [dbo].[products] ([id], [description], [image_url], [name], [price], [quantity], [category_id], [discount_percent], [brand], [cpu], [ram], [screen], [storage], [warranty], [promotion_id]) VALUES (1, N'Laptop phù hợp học tập, lập trình và làm việc văn phòng.', N'/uploads/products/b48f0f23-5f4b-4d7f-9a3f-1aef0062e6e1.jpg', N'Laptop Dell Inspiron 15', 15990000, 18, 1, NULL, N'Dell', N'Intel Core i5', N'16GB', N'15.6 inch Full HD', N'SSD 512GB', N'12 tháng', 2)
INSERT [dbo].[products] ([id], [description], [image_url], [name], [price], [quantity], [category_id], [discount_percent], [brand], [cpu], [ram], [screen], [storage], [warranty], [promotion_id]) VALUES (2, N'Laptop mỏng nhẹ, pin tốt, phù hợp học tập và làm việc.', N'/uploads/products/3a121787-e48d-4a8c-87cf-b113f7b4b4f9.jpg', N'MacBook Air M2 13 inch', 23990000, 10, 1, NULL, N'Apple', N'Apple M2', N'8GB', N'13.6 inch Liquid Retina', N'SSD 256GB', N'12 tháng', 1)
INSERT [dbo].[products] ([id], [description], [image_url], [name], [price], [quantity], [category_id], [discount_percent], [brand], [cpu], [ram], [screen], [storage], [warranty], [promotion_id]) VALUES (3, N'Laptop gaming hiệu năng cao, phù hợp chơi game và đồ họa.', N'/uploads/products/1b7a2952-26d9-4d45-bb64-c54e8739087c.jpg', N'Laptop ASUS TUF Gaming F15', 21990000, 8, 1, NULL, N'ASUS', N'Intel Core i7', N'16GB', N'15.6 inch 144Hz', N'SSD 512GB', N'24 tháng', 3)
SET IDENTITY_INSERT [dbo].[products] OFF
GO
SET IDENTITY_INSERT [dbo].[promotions] ON 

INSERT [dbo].[promotions] ([id], [active], [discount_percent], [end_date], [name], [start_date], [coupon_code], [coupon_value], [discount_type], [min_order_amount], [usage_limit], [used_count]) VALUES (1, 1, 10, CAST(N'2026-12-31' AS Date), N'Sale khai trương', CAST(N'2026-01-01' AS Date), NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[promotions] ([id], [active], [discount_percent], [end_date], [name], [start_date], [coupon_code], [coupon_value], [discount_type], [min_order_amount], [usage_limit], [used_count]) VALUES (2, 1, 7, CAST(N'2026-12-31' AS Date), N'Ưu đãi sinh viên', CAST(N'2026-01-01' AS Date), NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[promotions] ([id], [active], [discount_percent], [end_date], [name], [start_date], [coupon_code], [coupon_value], [discount_type], [min_order_amount], [usage_limit], [used_count]) VALUES (3, 1, 15, CAST(N'2026-12-31' AS Date), N'Flash Sale cuối tuần', CAST(N'2026-01-01' AS Date), NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[promotions] OFF
GO
SET IDENTITY_INSERT [dbo].[reviews] ON 

INSERT [dbo].[reviews] ([id], [comment], [customer_name], [rating], [review_date], [product_id], [user_id]) VALUES (0, N'Hàng ok', N'Phan Hoài Tân', 5, CAST(N'2026-06-07T13:24:24.3417590' AS DateTime2), 2, 2)
SET IDENTITY_INSERT [dbo].[reviews] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [username], [password], [full_name], [phone], [email], [role], [enabled], [province_name], [ward_name], [address_detail], [reset_code], [reset_code_expire_at]) VALUES (1, N'admin', N'123456', N'Quản trị viên', N'0000000000', N'admin@jtech.vn', N'ADMIN', 1, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[users] ([id], [username], [password], [full_name], [phone], [email], [role], [enabled], [province_name], [ward_name], [address_detail], [reset_code], [reset_code_expire_at]) VALUES (2, N'khachhang', N'123456', N'Phan Hoài Tân', N'0359769649', N'tanphan1501@gmail.com', N'USER', 1, N'Tỉnh Đồng Tháp', N'Xã Vĩnh Kim', N'Ấp Long Thành A', NULL, NULL)
INSERT [dbo].[users] ([id], [username], [password], [full_name], [phone], [email], [role], [enabled], [province_name], [ward_name], [address_detail], [reset_code], [reset_code_expire_at]) VALUES (3, N'JustGrass2812', N'Thanh@123', N'Thành', N'0123456789', N'28122004thanh102@gmail.com', N'USER', 1, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UKaon0lhtbhwa6it4ds6xxgwb0s]    Script Date: 07/06/2026 03:19:03 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UKaon0lhtbhwa6it4ds6xxgwb0s] ON [dbo].[promotions]
(
	[coupon_code] ASC
)
WHERE ([coupon_code] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__F3DBC57282921C5B]    Script Date: 07/06/2026 03:19:03 PM ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_users_email]    Script Date: 07/06/2026 03:19:03 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_users_email] ON [dbo].[users]
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((1)) FOR [enabled]
GO
ALTER TABLE [dbo].[order_details]  WITH CHECK ADD  CONSTRAINT [FK4q98utpd73imf4yhttm3w0eax] FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
GO
ALTER TABLE [dbo].[order_details] CHECK CONSTRAINT [FK4q98utpd73imf4yhttm3w0eax]
GO
ALTER TABLE [dbo].[order_details]  WITH CHECK ADD  CONSTRAINT [FKjyu2qbqt8gnvno9oe9j2s2ldk] FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([id])
GO
ALTER TABLE [dbo].[order_details] CHECK CONSTRAINT [FKjyu2qbqt8gnvno9oe9j2s2ldk]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [FK32ql8ubntj5uh44ph9659tiih] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [FK32ql8ubntj5uh44ph9659tiih]
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD  CONSTRAINT [FK58vr973hp8g47ful3ukryaeff] FOREIGN KEY([promotion_id])
REFERENCES [dbo].[promotions] ([id])
GO
ALTER TABLE [dbo].[products] CHECK CONSTRAINT [FK58vr973hp8g47ful3ukryaeff]
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD  CONSTRAINT [FKog2rp4qthbtt2lfyhfo32lsw9] FOREIGN KEY([category_id])
REFERENCES [dbo].[categories] ([id])
GO
ALTER TABLE [dbo].[products] CHECK CONSTRAINT [FKog2rp4qthbtt2lfyhfo32lsw9]
GO
ALTER TABLE [dbo].[reviews]  WITH CHECK ADD  CONSTRAINT [FKcgy7qjc1r99dp117y9en6lxye] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[reviews] CHECK CONSTRAINT [FKcgy7qjc1r99dp117y9en6lxye]
GO
ALTER TABLE [dbo].[reviews]  WITH CHECK ADD  CONSTRAINT [FKpl51cejpw4gy5swfar8br9ngi] FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
GO
ALTER TABLE [dbo].[reviews] CHECK CONSTRAINT [FKpl51cejpw4gy5swfar8br9ngi]
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD CHECK  (([discount_percent]>=(0)))
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD CHECK  (([price]>=(0)))
GO
ALTER TABLE [dbo].[promotions]  WITH CHECK ADD CHECK  (([discount_percent]<=(100) AND [discount_percent]>=(0)))
GO
ALTER TABLE [dbo].[reviews]  WITH CHECK ADD CHECK  (([rating]<=(5) AND [rating]>=(1)))
GO
USE [master]
GO
